.green, a {
    color: #0ABF53;
}

.headertext {
    margin: 0.5rem 1rem;
    font-weight: bold;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #0ABF53;
}

.btn.btn-primary {
    background-color: #00112C;
    border-color:  #00112C;
}

.list-group-item {
    cursor: pointer;
}
